{% extends "base.html" %}
{% block title %}Test 2{% endblock title %}

{% block content %}
<div class="grid">
    <div class="item" onclick="window.open('https://google.com')">
        <h2 class="item-title">Cool Stuff</h2>

        <div class="item-contents">
            <p>Lorem Ipsum. This is a project that does stuff.</p>
        </div>

        <div class="item-tags">
            <span>Python</span>
            <span>Backend</span>
            <span>DNS</span>
            <span>CLI</span>
        </div>
    </div>
</div>
{% endblock content %}