:root {
    --first-white-color: #f2f2f2;
    --second-white-color: #C9C9C9;
    --third-white-color: #8a8a8a;
    --first-black-color: #333333;
}
html, body {
    height: 100%;
}
body {
    width: 50%;
    margin: auto;
    background: var(--first-white-color);
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.25em;
    color: var(--first-black-color);
}

/* Set default font sizings for headers*/
h1{font-size:2.5em}h2{font-size:2em}h3{font-size:1.75em}h4{font-size:1.5em}h5{font-size:1.25em}h6{font-size:1em}p{font-size:1em}


#editor {
    outline: none;
    margin-top: 100px;
    white-space: pre-wrap;
}