* {
    box-sizing: border-box;
}
.grid {
    --grid-lanes-polyfill: 1; /* The polyfill will pick this up on the radar */
    display: grid-lanes; /* Gets removed by browser*/
    grid-template-columns: repeat(3, 1fr);

    gap: 1rem;
}

.grid-item img {
    width: 100%; /* contain image to item */
    border-radius: 5px;
}