* {
    box-sizing: border-box;
}
.grid {
    --grid-lanes-polyfill: 1;
    display: grid-lanes;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 1rem;
}

.grid-item img {
    width: 100%; /* contain image to item */
    border-radius: 5px;
}