<html>
    <head>
        <title>Test</title>
        {% block static %}{% endblock static %}

        <link rel="stylesheet" href="/static/css/root.css">
        <script>
        window.MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"]],
                displayMath: [["\\[", "\\]"]]
            }
        };
        </script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" async></script>
    </head>
    <body>
        <div class="layout">
            <div class="sidebar">
                <div class="side-nav">
                    <div class="logo">
                        <h1>Ram Nathirmal</h1>
                    </div>
                    <ul>
                        <li><a href="/">About Me</a></li>
                        <li><a href="/photos">Photography</a></li>
                        <li><a href="/writings">Writings</a></li>
                    </ul>
                </div>
                <div class="side-tool">
                    {% block side %}{% endblock side %}
                </div>

            </div>
            <div class="content">
                {% block content %}{% endblock content%}
            </div>
        </div>
    </body>
</html>