<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if article is defined %}{{ article.title }}{% elif page is defined %}{{ page.title }}{% else %}Ram Nathirmal{% endif %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/root.css">

        <script type="module" src="/static/js/index.js"></script>


        {% block static %}{% endblock static %}

        <script>
        window.MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"]],
                displayMath: [["\\[", "\\]"]]
            }
        };
        </script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" async></script>
    </head>
    <body>
        <div class="layout">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="logo">
                        <h1>Ram Nathirmal</h1>
                    </div>
                    <ul class="nav-list">
                        <li><a href="/" {% if output_file == 'index.html' %}class="active"{% endif %}>About</a></li>
                        <li><a href="/photos" {% if output_file.startswith('photos') %}class="active"{% endif %}>Photography</a></li>
                        <li><a href="/writings" {% if output_file.startswith('writings') %}class="active"{% endif %}>Writings</a></li>
                        <li><a href="/projects" {% if output_file.startswith('projects') %}class="active"{% endif %}>Projects</a></li>
                    </ul>
                </div>
                <div class="sidebar-bottom">
                    {% block sidebar %}{% endblock sidebar %}
                    <!--<span class="sidebar-year">© 2026</span>-->
                </div>
            </div>
            <div class="content">
                {% block page_nav %}{% endblock %}
                <div class="content-inner">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>