<html>
    <head>
        <title>Test</title>
        {% block static %}{% endblock static %}

        <link rel="stylesheet" href="/static/css/root.css">
    </head>
    <body>
        <div class="layout">
            <div class="sidebar">
                <div class="side-nav">
                    <div class="logo">
                        <h1>Ram Nathirmal</h1>
                    </div>
                    <ul>
                        <li><a href="/">About Me</a></li>
                        <li><a href="/photos">Photography</a></li>
                        <li>Writings</li>
                    </ul>
                </div>
                <div class="side-tool">
                    {% block side %}{% endblock side %}
                </div>

            </div>
            <div class="content">
                {% block content %}{% endblock content%}
            </div>
        </div>
    </body>
</html>