<!--index.html is a reserved name in pelican causing a conflict with content/index.md -->

{% extends "base.html" %}
{% block content %}

<!--<div class="article">-->
    
    <!-- 
    This allows page.html to be used as a template by markdown AND have
    page.html to be extended by other templates through the block "page_content"
    -->
    {% block page_content %}
        <div class="article">
            <h1 class="title">{{ page.title }}</h1>
            {{ page.content }}
        </div>
    {% endblock page_content %}
<!--</div>-->
{% endblock content %}