{% extends "base.html" %}

{% block static %}
{{ super() }}
<style>

/* Fractional units: make the div have 1 part while the meta has 3 parts */
.entry > div {
    flex: 2;
}
.entry > p {
    flex: 5;
    margin: 0;
}
.entry h2 {
    font-size: 1.17rem;
    font-weight: 200;
}

.wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .meta:last-child {
    font-variant-numeric: tabular-nums;
    letter-spacing: 0.05em;
}

</style>
{% endblock static %}

{% block content %}
<div class="article">
    <h1 class="title">Projects</h1>
    {% for project in projects %}
    <div class="entry">
        <div class="wrapper">
            <a href="{{ project.url }}"><h2>{{ project.title }}</h2></a>

            <span class="meta" style="flex-grow: 1;">{{ project.subtitle }}</span>
            <span class="meta">{{ project.year }}</span>
        </div>
        <p class="">{{ project.info }}</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}
