{% extends "base.html" %}

{% block static %}
{{ super() }}
<style>

.entry > div {
    flex: 3;
}
.entry > p {
    flex: 7;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.7;
}
.entry h2 {
    font-family: var(--mono);
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .meta {
    line-height: 1.4;
}

.wrapper .meta:first-of-type {
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.entry a:hover h2 {
    color: var(--accent);
}

</style>
{% endblock static %}

{% block content %}
<div class="article">
    <h1 class="title">Projects</h1>
    {% for project in projects %}
    <div class="entry">
        <div class="wrapper">
            <a href="{{ project.url }}"><h2>{{ project.title }}</h2></a>

            <span class="meta" style="flex-grow: 1;">{{ project.subtitle }}</span>
            <span class="meta">{{ project.year }}</span>
        </div>
        <p class="">{{ project.info }}</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}
