{% extends "base.html" %}


{% block content %}
<div class="article">
    <h1 class="title">Projects</h1>
    {% for project in projects %}
    <div class="entry">
        <div class="wrapper">
            <a href="{{ project.url }}"><h2>{{ project.title }}</h2></a>

            <span class="meta" style="flex-grow: 1;">{{ project.subtitle }}</span>
            <span class="meta">{{ project.year }}</span>
        </div>
        <p class="">{{ project.info }}</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}
