:root {
    --editor: 1; /* Check if css file is loaded */
    --editor-context-menu-item-background: #DEE2E6;
    --editor-context-menu-item-action: #CED4DA;
    --editor-context-menu-divider: #343A40;
}

/* Mini */
.editor {
    white-space: pre-wrap;
}

/* Context menu main  */
#editor-context-menu {
    position: absolute;
    user-select: none;
    transform: translateX(-50%);
}

/* Context menu list (seems to to be shapeless which is why I don't style background here )*/
#editor-context-menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 6px; /* Round borders */
    overflow: hidden; /* Background of hover effect causes overflow */
}

/* Style every item in the list */
#editor-context-menu > ul > li {
    float: left; /* Fixes alignment */
    background: var(--editor-context-menu-item-background);
}

/* Add hover effect (TODO: Maybe add color indicator )*/
#editor-context-menu > ul > li:hover {
    background: var(--editor-context-menu-item-action)
}

#editor-context-menu > ul > li.clicked {
    background: var(--editor-context-menu-item-action);
}
/* Add divider between menu elements */
/*
#editor-context-menu > ul > li:not(:last-child)::after {
    content: "";

    background: var(--editor-context-menu-divider);
    height: 100%;
    width: 2px; 

    display: inline-block;
    position: absolute;
}*/

/* Style button and remove defaults (except padding) */
#editor-context-menu > ul > li > button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    padding: 6px;
}