#context-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    font-size: 1.4em;
}
#context-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--secondary-white);
    border-radius: 6px;
    overflow: hidden; /* For the background of li */
}

#context-menu > ul > li:hover {
    background: var(--third-white);
}

#context-menu > ul > li {
    display: inline-block;
}
#context-menu > ul > li > button {
    display: inline-block;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}
#editor {
    margin: auto;
    width: 50%;
    outline: none;
}