/* Variables */
:root {
    /* Default colors */
    --app-primary-black: #333333;
    --app-primary-red: #bb4430;
    --app-primary-white: #F8F9FA;
    --app-primary-blue: #2892d7;
    --app-primary-green: #00916e;

    --app-text-black: #333333;
    --app-text-red: #e4572e;
    --app-text-purple: #4c2c72;
    --app-text-blue: #0496ff;
    --app-text-green: #2ec4b6;
}

html, body {
    height: 100%;
}

/* Margins */
body {
    width: 50%;
    margin: auto;
    background: var(--app-primary-white);
    color: var(--app-text-black)
}

/* Default colors for links */
:link {
    color: var(--app-text-blue);
}
:visited {
    color: var(--app-text-purple);
}

/* Fonts */
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.25em;
    color: var(--first-black-color);
}

/* Set default font sizings for headers*/
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
}
p {
    font-size: 1em;
}


/* Editor specific styling */
#editor {
    outline: none;
    margin-top: 100px;
    white-space: pre-wrap;
}