/* Variables */
:root {
    /* Default colors */
    --primary-black: #333333;
    --primary-red: #bb4430;
    --primary-white: #F8F9FA;
    --primary-blue: #2892d7;
    --primary-green: #00916e;

    --secondary-white: #DEE2E6;
    --secondary-black: #343A40;

    --third-white: #CED4DA;

    --text-black: #333333;
    --text-red: #e4572e;
    --text-purple: #4c2c72;
    --text-blue: #0496ff;
    --text-green: #2ec4b6;

    --border-radius: 6px;
    --padding: 6px;
}

html, body {
    height: 100%;
}

/* Default colors for links */
:link {
    color: var(--text-blue);
}
:visited {
    color: var(--text-purple);
}

/* Fonts */
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.25em;
    color: var(--first-black-color);
}

/* Set default font sizings for headers*/
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
}
p {
    font-size: 1em;
}

/* Colors */
body {
    background: var(--primary-white);
    color: var(--text-black);
    width: 80%;
    margin: auto;
}

.center {
    text-align: center;
}

.flex-columns {
    display: flex;
}
.flex-column {
    width: 100%
}
.flex-column:not(:last-child) {
    margin-right: 6px;
}


#editor, #output {
    border: 1px solid var(--primary-black);
    border-radius: var(--border-radius);
    padding: var(--padding);
    white-space: pre-wrap;

    outline: none;
    height: fit-content;
}

#output {
    font-family: 'Courier New', Courier, monospace;
}