@import url("https://rsms.me/inter/inter.css");


html, body {
    height: 100%;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}


:root {
    font-family: Inter, sans-serif;

    font-weight: 300;

    letter-spacing: -0.018em;
    -webkit-font-smoothing: antialiased;

    font-feature-settings: "case", "dlig", "tnum", "zero", "ss01", "calt", "ccmp", "locl", "kern";


    line-height: 1.5;
}
@supports (font-variation-settings: normal) {
    * { 
        font-family: InterVariable, sans-serif;
    }
}

:root {
    --header-font-size: 2.3rem;
    --content-font-size: 1.6rem;
    --footer-font-size: 1.1rem;


    --color-1: #0c0e10;
    --color-2: #e5e5dd;
    --color-3: #e64959;

}
h1, h2, h3, h4 {
    font-weight: 600;
}
/* These are all relative to --content-font-size or --header-font-size */
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1.1em;
}
h4 {
    font-size: 1em;
}

body {
    background-color: var(--color-1);
}
html {
    font-size: 16px;
}


header {
    height: 15%;
    font-size: var(--header-font-size);
    color: var(--color-3);
}

a {
    color: var(--color-3);
}

nav {
    text-align: center;
}

main {
    flex-grow: 1;
    color: var(--color-2);
    font-size: var(--content-font-size);
}


header, main, footer {
    margin: 15px;
}


.center {
    text-align: center;
}

.content-wrapper {
    width: 70%;
    margin: auto;
}
footer {
    color: var(--color-2);
    text-align: center;
    font-size: var(--footer-font-size);
}

pre {
    border: 4px solid var(--color-3);
    overflow-y: scroll;
    padding: 10px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}