<!--index.html is a reserved name in pelican causing a conflict with content/index.md -->

{% extends "photo/photo_template.html" %}

{% block photo_content %}

{% if page.content %}
    <div class="photo-intro">{{ page.content }}</div>
{% endif %}

<div class="image-lanes">



    {% for p in pages %} <!-- cant use page-->
        {% if p.slug != "index" and p.photo_dir %}
            {% set photo = photos_from_dir(p.photo_dir)[0] %}
            <div class="photo-container">
                <a class="lane-photo" href="{{ p.url }}">
                    <img src="{{ photo.thumb_url }}" loading="lazy">
                </a>
                <div class="photo-overlay"><h2>{{ p.title }}</h2></div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock photo_content %}
 