<!--index.html is a reserved name in pelican causing a conflict with content/index.md -->

{% extends "photo/photo_template.html" %}

{% block static %}
{{ super() }}
<style>
    .image-lanes > .article > :first-child {
        margin-top: 0;
    }
</style>
{% endblock static %}

{% block photo_content %}


<div class="image-lanes">


    <div>{{ page.content }}</div>

    {% for p in pages %} <!-- cant use page-->
        {% if p.slug != "index" and p.photo_dir %}
            {% set photo = photos_from_dir(p.photo_dir)[0] %}
            <div class="photo-container">
                <a class="lane-photo" href="{{ p.url }}">
                    <img src="{{ photo.thumb_url }}" loading="lazy">
                </a>
                <div class="photo-overlay"><h2>{{ p.title }}</h2></div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock photo_content %}
 