{% extends "photo/photo_template.html" %}

{% block photo_content %}

<div class="image-lanes">
{% for photo in photos_from_dir(page.photo_dir) %}
    <a class="lane-photo photo-lightbox" href="{{ photo.url }}" data-gallery="1" data-title="{{ photo.caption }}">
        <img src="{{ photo.thumb_url }}" loading="lazy">
    </a>
{% endfor %}
</div>

{% endblock photo_content %}

{% block side %}
<p><strong>Equipment Used</strong>: Canon R10, Canon RF-S18-150mm f/3.5-6.3 IS STM, Sigma 30mm 1.4 DC DN Contemporary</p>
{% endblock side %}
