@import url("https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css");
@import url("./core.css");
@import url("./lightbox.css");

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    border: 0;
}