{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block static %}
<style>
    .icon-wrapper i {
        width: 1.5em;
        height: 1.5em;
    }
    .icon-wrapper {
        user-select: none;
    }
    .icon-wrapper a {
        text-decoration: none;
    }
</style>
{% endblock static %}
{% block content %}
<h1>About</h1>
<span>I'm ninjamar</span>
<span>Links</span>

<div class="icon-wrapper">
    <a href="https://github.com/ninjamar">
        <i class="ci ci-github"></i>
    </a>
</div>

<span>What I do</span>
<div class="icon-wrapper">
    <i class="ci ci-python"></i>
    <i class="ci ci-django"></i>
    <i class="ci ci-js"></i>
    <i class="ci ci-html"></i>
    <i class="ci ci-css"></i>
    <i class="ci ci-cpp"></i>
    <i class="ci ci-vscode"></i>
</div>
{% endblock content %}