<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock title %} - ninjamar.dev</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <script src="/static/js/base.js"></script>
        <link rel="stylesheet" href="/static/css/root.css">
        {% block static %}{% endblock static %}
    </head>
    <body>
        <!-- Back to semantic html -->
        <header>
            <nav>
                <span>ninjamar.dev |</span>
                <a href="/">home</a>
                <a href="/projects/">projects</a>
                <a href="/blog/">blog</a>
            </nav>
        </header>
        <main>
            <div class="content-sizing">
                <h1>
                    {{ self.title() }}
                    <!-- Inline styles are bad, but this instance is so small, and doesn't even have a rule -->
                    <span style="float: right;">{% block date %}{% endblock date %}</span>
                </h1>

                <article id="content">
                    {% block content %}
                    {% endblock content %}
                </article>
            </div>
        </main>
        <footer class="content-sizing">
            <!--Could use list here -->
            <span>&copy; Copyright 2025, ninjamar. All rights reserved.
                <a href="/privacy.html">Privacy Policy</a>
            </span>
            <a class="a-button" onclick="toggleTheme();">Toggle Theme</a>
        </footer>
    </body>
</html>