{% extends "base.html" %}

{% block title %}home{% endblock title %}
{% block content %}
    <h1 class="title">ninjamar.dev</h1>

    <p>I'm ninjamar. I enjoy programming. Some things that I've programmed are this website (<a href="https://github.com/ninjamar/ninjamar.github.io">ninjamar/ninjamar.github.io</a>), a programming language (<a href="https://github.com/ninjamar/nm">ninjamar/nm</a>), and a social application (<a href="https://github.com/ninjamar/ninjasocial">ninjamar/ninjasocial</a>)
    </p>
    <p>I've recently redesigned this website.</p>
    <div class="button-collection">
        <div class="button inverse-bg">
            <a class="inverse" href="https://github.com/ninjamar">GitHub</a>
        </div>
    </div>
{% endblock content %}