{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block static %}

<style>
    #content > ul{
        margin-left: 5ch;;
    }
</style>

{% endblock static %}
{% block content %}
    <p>This website uses analytics to collect information. The software, <a href="https://github.com/ninjamar/analytics">hosted on my GitHub</a>, collects the following, but is not limited to.</p>
    <ul> <!-- Simple solution to counter indentation from the p tag -->
        <li>An id (hash of IP address + OS + browser + current date)</li>
        <li>Screen Dimensions</li>
        <li>OS</li>
        <li>Browser</li>
        <li>Total Total on Page</li>
        <li>Referrer</li>
    </ul>
    <p>Other information may be visible in logs.</p>
{% endblock content %}