{% extends "base.html" %}
{% block title %}Index{% endblock title%}
{% block content %}
<h1>Hello World</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<img class="img-pretty" src="https://picsum.photos/id/29/200/">
<p><img class="img-pretty img-right" src="https://picsum.photos/id/43/200/?1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<img class="img-pretty img-left" src="/static/img/ninjamar.png" width="200px" height="200px">
<pre><code>x => x + x</code></pre>
<pre><code>
    function foo(x){
        return x + x;
    }
    some really long line of text... some really long line of text... some really long line of text... some really long line of text... some really long line of text... some really long line of text... some really long line of text... 
</code></pre>
<p>Some text... more text... <code>foo()</code> more text</p>
<p>Size comparisons: x<code>x</code></p>
<p>Normal Text <b>Strong text</b></p>
<div class="row">
    <div class="card">
        <div class="card-contents">
            <h3 class="center">Card title</h3>
            <img class="img-pretty" src="/static/img/ninjamar.png" width="200px" height="200px">
            <p class="center">This is a card</p>
        </div>
    </div>
    <a href="#foo" style="text-decoration: none;">
        <div class="card">
            <div class="card-contents">
                <h3 class="center">Card title</h3>
                <img class="img-pretty" src="/static/img/ninjamar.png" width="200px" height="200px">
                <p class="center">This is a card with a link</p>
            </div>
        </div>
    </a>
</div>
{% endblock content %}